body {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: linear-gradient(to bottom right, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.92) 59%, rgba(26, 26, 26, 1) 100%),
  url('../images/hero-bg.jpg') center fixed;
}

.middle-content {
  width: 500px;
  height: 500px;
  background: rgba(112, 112, 112, 0.8);
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px #1a1a1a inset;
}


.quote-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding-top: 25px;
  /*font-family: 'Poiret One', sans-serif;*/
  line-height: 1.4;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.personal-info, .personal-info-h2 {
  text-align: center;
  color: #707070;
  font-size: 42px;
  /*font-family: 'Poiret One', sans-serif;*/
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 150px;
  width: 90%;
}

.personal-info {
  font-family: "Raleway", sans-serif;
}

.personal-info-h2 {
  font-size: 20px;
  padding-top: 15px;
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.navigation-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.navigation-ul a {
  text-decoration: none;
  color: #707070;
}

.navigation-li {
  display: inline-block;
  padding: 10px 25px;
  font-size: 32px;
  border-bottom: 1px solid #707070;
  margin: 0 30px;
  /*font-family: 'Poiret One', sans-serif;*/
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.navigation-li:hover {
  border-bottom: 4px solid #707070;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.active-page {
  border-bottom: 4px solid #707070;
}

.social-media-links-container {
  position: fixed;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.social-media-ul a {
  text-decoration: none;
  color: #707070;
}

.social-media-li {
  padding: 10px;
  margin-bottom: 10px;
  font-family: untitled-font-1;
  font-size: 20px;
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

.social-media-li:hover {
  transform: scale(1.2);
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

/* WORKS STYLES */

.works-wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  min-height: 500px;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -ms-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
}

.works-wrapper a {
  color: #000;
  text-decoration: none;
}

.works-wrapper a:hover .work-container-inner {
  background-color: rgba(255, 255, 255, 0.3);
  background: rgba(112, 112, 112, 1);
  -webkit-transition: 0.25s background-color ease;
  -moz-transition: 0.25s background-color ease;
  -ms-transition: 0.25s background-color ease;
  -o-transition: 0.25s background-color ease;
  transition: 0.25s background-color ease;
}

.work-container {
  width: 100%;
  min-height: 300px;
  /*min-width: 800px;*/
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
  background: #979797;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -ms-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
}

.work-container-inner {
  -webkit-transition: 0.25s background-color ease;
  -moz-transition: 0.25s background-color ease;
  -ms-transition: 0.25s background-color ease;
  -o-transition: 0.25s background-color ease;
  transition: 0.25s background-color ease;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.work-image-container {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.work-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(112, 112, 112, 0.8);
  display: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s display ease;
  -moz-transition: 0.5s display ease;
  -ms-transition: 0.5s display ease;
  -o-transition: 0.5s display ease;
  transition: 0.5s display ease;
}

.work-image-container:hover .work-image-overlay {
  display: block;
  -webkit-transition: 0.5s display ease;
  -moz-transition: 0.5s display ease;
  -ms-transition: 0.5s display ease;
  -o-transition: 0.5s display ease;
  transition: 0.5s display ease;
}

/*.work-image-container:hover .username-info-li {
  color: #fff;
}*/

.zoom-icon {
  font-family: untitled-font-1;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*.work-image {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,1);
}*/

.work-image-container img {
  width: 100%;
}

.username-info-ul {
  padding: 8px;
}

.username-info-li {
  padding-top: 10px;
  padding-right: 15px;
  display: inline-block;
}

.username-info-li:first-child {
  display: block;
}

.work-content-container {
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

.work-container h2 {
  text-align: center;
  padding: 10px 5px;
  font-weight: bold;
}

.secondary-heading {
  font-size: 1.25em;
}

.work-container p {
  padding: 8px;
  font-family: serif;
  line-height: 1.4em;
}

.work-links-ul {
  font-family: untitled-font-1;
  font-size: 2em;
}

.work-links-li {
  display: inline;
  padding-left: 8px;
}

.github-icon:hover {
  color: #2D0F58;
  -webkit-transition: 0.25s color ease;
  -moz-transition: 0.25s color ease;
  -ms-transition: 0.25s color ease;
  -o-transition: 0.25s color ease;
  transition: 0.25s color ease;
}

.work-container-footer {
  clear: both;
  width: 100%;
  height: 10px;
}

.works-body .navigation-container {
  margin-top: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {
  .work-image-container {
    width: 40%
  }

  .work-content-container {
    width: 60%
  }
}

@media screen and (max-width: 700px) {
  .middle-content {
    display: none;
  }

  .personal-info {
    font-size: 2.625em;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 90%;
  }

  .personal-info-h2 {
    margin-top: 0;
    width: 80%;
  }

  .navigation-container {
    margin-top: -80px;
  }

  .navigation-li {
    display: block;
    border-bottom: 1px solid #707070;
  }

  .social-media-links-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: static;
  }

  .social-media-li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
  }

  .personal-info {
    font-size: 2.5em;
  }

  .works-wrapper {
    width: 100%;
    -webkit-transition: 0.5s width ease;
    -moz-transition: 0.5s width ease;
    -ms-transition: 0.5s width ease;
    -o-transition: 0.5s width ease;
    transition: 0.5s width ease;
  }

  .work-container {
    min-width: 100%;
    margin: 0 auto;
    -webkit-transition: 0.5s width ease;
    -moz-transition: 0.5s width ease;
    -ms-transition: 0.5s width ease;
    -o-transition: 0.5s width ease;
    transition: 0.5s width ease;
    margin-bottom: 10px;
  }

  .work-image-container {
    width: 100%;
    position: static;
  }

  .work-image-container img {
    width: 100%;
  }

  .work-content-container {
    width: 100%;
    position: static;
  }

  .work-container h2 {
    margin-top: 20px;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
  }

  .username-info-li {
    font-size: 0.6em;
  }

  .work-content-container p {
    font-size: 0.6em;
  }
}
