body {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /*background: linear-gradient(to bottom right, rgba(26, 26, 26, 0.9) 0%, rgba(26, 26, 26, 0.75) 59%, rgba(26, 26, 26, 1) 100%),
  url('../images/hero-bg.jpg') center fixed;
  background-size: auto;*/
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: linear-gradient(to bottom right, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.9) 59%, rgba(26, 26, 26, 0.8) 100%),
  url('../images/hero-bg.jpg') center fixed;
}

.middle-content {
  width: 500px;
  height: 500px;
  background: rgba(112, 112, 112, 0.8);
  border-radius: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px #1a1a1a inset;
}


.quote-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding-top: 25px;
  font-family: 'Poiret One', sans-serif;
  line-height: 1.4;
  font-size: 18px;
}

.personal-info {
  text-align: center;
  color: #707070;
  font-size: 42px;
  font-family: 'Poiret One', sans-serif;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 150px;
  width: 90%;
}

.navigation-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  /*margin-top: -80px;*/
}

.navigation-ul a {
  text-decoration: none;
  color: #707070;
}

.navigation-li {
  display: inline-block;
  padding: 10px 25px;
  font-size: 32px;
  border-bottom: 1px solid #707070;
  margin: 0 30px;
  font-family: 'Poiret One', sans-serif;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.navigation-li:hover {
  border-bottom: 4px solid #707070;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.active-page {
  border-bottom: 4px solid #707070;
}

.social-media-links-container {
  position: fixed;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.social-media-ul a {
  text-decoration: none;
  color: #707070;
}

.social-media-li {
  padding: 10px;
  margin-bottom: 10px;
  font-family: untitled-font-1;
  font-size: 20px;
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

.social-media-li:hover {
  transform: scale(1.2);
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

/* WORKS STYLES */

.works-wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  /*background: #979797;*/
  box-sizing: border-box;
  min-height: 500px;
  transition: 0.5s width ease;
}

.works-wrapper a {
  color: #000;
  text-decoration: none;
}

.works-wrapper a:hover .work-container-inner {
  background-color: rgba(255, 255, 255, 0.3);
  background: rgba(112, 112, 112, 1);
  transition: 0.25s background-color ease;
}

.work-container {
  /*width: 33.33%;*/
  width: 100%;
  min-height: 420px;
  box-sizing: border-box;
  /*float: left;*/
  padding: 8px;
  margin-bottom: 8px;
  background: #979797;
  transition: 0.5s width ease;
}

.work-container:hover {
}

.work-container-inner {
  /*background-color: rgba(112, 112, 112, 0.8);*/
  /*height: 350px;*/
  transition: 0.25s background-color ease;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.work-image-container {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.work-image {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,1);
}

.work-image-container img {
  width: 100%;
}

.work-content-container {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  /*height: 280px;*/
  box-sizing: border-box;
}

.work-container h2 {
  text-align: center;
  padding: 10px 5px;
  height: 50px;
}

.secondary-heading {
  font-size: 20px;
}

.work-container p {
  padding: 8px;
  font-family: serif;
  line-height: 1.4em;
}

.work-links-ul {
  font-family: untitled-font-1;
  font-size: 32px;
}

.work-links-li {
  display: inline;
  padding-left: 8px;
}

/*.github-icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: 0.25s color ease;
}*/

.github-icon:hover {
  color: #2D0F58;
  transition: 0.25s color ease;
}

/*.view-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
}*/

.work-container-footer {
  clear: both;
  width: 100%;
  height: 10px;
}

.works-body .navigation-container {
  margin-top: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .middle-content {
    display: none;
  }

  .personal-info {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }

  .navigation-li {
    display: block;
    border-bottom: 1px solid #707070;
  }

  .social-media-links-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: static;
  }

  .social-media-li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .personal-info {
    font-size: 40px;
  }

  .works-wrapper {
    width: 100%;
    transition: 0.5s width ease;
  }

  .work-container {
    width: 100%;
    margin: 0 auto;
    transition: 0.5s width ease;
    margin-bottom: 10px;
  }

  .work-container-inner {
    /*height: 650px;*/
  }

  .work-image-container {
    width: 100%;
    position: static;
  }

  .work-image-container img {
    width: 100%;
  }

  .work-content-container {
    width: 100%;
    position: static;
  }
}
