body {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}

.middle-content {
  width: 500px;
  height: 500px;
  background: #707070;
  border-radius: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px #1a1a1a inset;
}

.quote-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 25px;
  font-family: 'Poiret One', sans-serif;
  line-height: 1.4;
  font-size: 18px;
}

.personal-info {
  text-align: center;
  color: #707070;
  font-size: 42px;
  font-family: 'Poiret One', sans-serif;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 150px;
  width: 90%;
}

.navigation-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  // margin-top: -80px;
}

.navigation-ul a {
  text-decoration: none;
  color: #707070;
}

.navigation-li {
  display: inline-block;
  padding: 10px 25px;
  font-size: 32px;
  border-bottom: 1px solid #707070;
  margin: 0 30px;
  font-family: 'Poiret One', sans-serif;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.navigation-li:hover {
  border-bottom: 4px solid #707070;
  -webkit-transition: 0.25s border ease;
  -moz-transition: 0.25s border ease;
  -ms-transition: 0.25s border ease;
  -o-transition: 0.25s border ease;
  transition: 0.25s border ease;
}

.active-page {
  border-bottom: 4px solid #707070;
}

.social-media-links-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.social-media-ul a {
  text-decoration: none;
  color: #707070;
}

.social-media-li {
  padding: 10px;
  margin-bottom: 10px;
  font-family: untitled-font-1;
  font-size: 20px;
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}

.social-media-li:hover {
  transform: scale(1.2);
  -webkit-transition: 0.25s transform ease;
  -moz-transition: 0.25s transform ease;
  -ms-transition: 0.25s transform ease;
  -o-transition: 0.25s transform ease;
  transition: 0.25s transform ease;
}
